@mixin footer-list(){
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 2rem;

    li {
        a {
            color: $white;
            font-size: 1rem;
            color:$royalBlue;
        }
    }
    @media (max-width: 600px) and (min-width: 279px) {
        gap: 1rem;
    }
}